/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  display: grid;
  place-items: center;
  background-color: hsl(185deg, 41%, 84%);
}

header {
  padding-block: 3rem;
}

main {
  display: flex;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 25px;
  padding: 2rem;
}

.bill,
.selectTip,
.numberOfPeople {
  padding-block: 1rem;
}
.bill h2,
.selectTip h2,
.numberOfPeople h2 {
  color: hsl(184deg, 14%, 56%);
  font-size: clamp(1rem, 2vw, 2rem);
}

.billInside,
.numberOfPeopleInside {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  background-color: hsl(189deg, 41%, 97%);
  border-radius: 5px;
}
.billInside img,
.numberOfPeopleInside img {
  aspect-ratio: 1/1;
  width: 1rem;
  height: 1rem;
  align-self: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.billInside input,
.numberOfPeopleInside input {
  border: 0;
  margin-left: auto;
  color: hsl(183deg, 100%, 15%);
  background-color: hsl(189deg, 41%, 97%);
  text-align: right;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bold;
}

.selectTip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "heading blank" "five ten" "fifteen twentyfive" "fifty custom";
  gap: 1rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.selectTip h2 {
  color: hsl(184deg, 14%, 56%);
  font-size: clamp(1rem, 2vw, 2rem);
  margin-top: auto;
}

.percentageButton {
  border: 0;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  padding: 0.5em 0em;
  font-size: clamp(1rem, 6vw, 3rem);
  border-radius: 5px;
}

.heading {
  grid-area: heading;
  margin: auto;
}

.five {
  grid-area: five;
}

.ten {
  grid-area: ten;
}

.fifteen {
  grid-area: fifteen;
}

.twentyfive {
  grid-area: twentyfive;
}

.fifty {
  grid-area: fifty;
}

.custom {
  grid-area: custom;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(184deg, 14%, 56%);
  width: -moz-fit-content;
  width: fit-content;
}
.custom input {
  border: 0;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(184deg, 14%, 56%);
  text-align: center;
  width: 100%;
}

.outputWrapper {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 15px;
  padding: 1rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.billPerPerson,
.tipPerPerson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  color: hsl(0deg, 0%, 100%);
  display: flex;
  flex-direction: column;
}
.text p {
  font-size: clamp(0.7rem, 1.6vw, 2rem);
}

.firstParagraph {
  color: hsl(0deg, 0%, 100%);
}

.secondParagraph {
  color: hsl(184deg, 14%, 56%);
}

.number p {
  display: flex;
  font-size: clamp(1rem, 7vw, 2rem);
  color: hsl(172deg, 67%, 45%);
}
.number p img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-inline: 0.5ch;
}

button[type=reset] {
  background-color: hsl(172deg, 67%, 45%);
  border: 0;
  border-radius: 5px;
  width: 100%;
  text-transform: uppercase;
  padding: 0.5em 0.25em;
  color: hsl(183deg, 100%, 15%);
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
  main {
    max-width: 400px;
  }
  .percentageButton {
    font-size: clamp(1rem, 2vw, 2rem);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    flex-direction: row;
    max-width: 768px;
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
    max-height: 500px;
  }
  form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .formWrapper {
    width: 50%;
  }
  .percentageButton {
    font-size: clamp(1rem, 2vw, 2rem);
  }
  .outputWrapper {
    width: 50%;
  }
  .selectTip {
    padding: 0;
  }
  button[type=reset] {
    margin-top: auto;
    padding: 1em 0em;
    font-size: clamp(1rem, 1vw, 4rem);
  }
  .numberOfPeopleInside {
    overflow: hidden;
  }
  .numberOfPeopleInside input {
    padding: 0;
    width: calc(90% - 1rem);
  }
  .bill {
    padding-block: 0;
  }
  .selectTip {
    gap: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  main {
    max-width: 1024px;
    flex-direction: row;
  }
  form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .formWrapper {
    width: 50%;
  }
  .percentageButton {
    font-size: clamp(1rem, 2vw, 2rem);
  }
  .outputWrapper {
    width: 50%;
  }
  .number p {
    font-size: clamp(1rem, 4vw, 4rem);
  }
  button[type=reset] {
    margin-top: auto;
    padding: 1.2em 0em;
    font-size: clamp(1rem, 1.5vw, 4rem);
  }
}
@media only screen and (min-width: 1440px) {
  main {
    max-width: 1024px;
    flex-direction: row;
  }
  form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .formWrapper {
    width: 50%;
  }
  .percentageButton {
    font-size: clamp(1rem, 1vw, 2rem);
  }
  sele .outputWrapper {
    width: 50%;
  }
  .number p {
    font-size: clamp(1rem, 4vw, 4rem);
  }
  button[type=reset] {
    margin-top: auto;
    padding: 1.2em 0em;
    font-size: clamp(1rem, 1.5vw, 4rem);
  }
  .bill h2, .selectTip h2, .numberOfPeople h2 {
    font-size: clamp(1rem, 1vw, 2rem);
    margin-right: auto;
  }
}/*# sourceMappingURL=style.css.map */